.DS_Store
/.build
/node_modules
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

/xtool
/third-party
/.sourcekit-lsp
/.xcode-derived
logs/
__pycache__/
